<form action='/getreadytoplay' method='post'>  What's your name? 
	<input type="text" name="player1" placeholder="Your name captain" /> 
	<input type="text" name="player2" placeholder="Your name pirate" / > 
	<input type="submit" value="start new game">
</form>